@media (min-width: 1470px){
    .gym .container{
        max-width: 1440px;
    }
    .agency .container{
        max-width: 1440px;
    }
}
@media only screen and (max-width: 1366px){
    section {
    padding: 70px 0;
}
}
@media (max-width: 991.98px){
.navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid, .navbar-expand-lg > .container-sm, .navbar-expand-lg > .container-md, .navbar-expand-lg > .container-lg, .navbar-expand-lg > .container-xl {
    padding-right: 0;
    padding-left: 0;
    background: black;
}}
@media (max-width:991px){
    .slider-area{
        height: 50vh;
    }
    .about-content{
        margin-top: 20px;
    }
    .navbar-toggler-icon i{
        padding-top: 8px;
        padding-left: 8px;
    }
    .navbar.sticky {
        padding: 1rem 1rem;
    }
    .carousel-item img{
        height: 50vh;
    }
    .carousel-caption .sub-heading p{
        padding: 0px 20px;
    }
    .carousel-caption{
        top: 20%;
    }
    .carousel-caption .sub-heading {
        padding: 0 35px;
        margin-bottom: 25px;
    }
    .banner-btn .btn {
        padding: 10px 20px !important;
    }
    .gym .btn {
        padding: 12px 25px;
    }
    #contact .bg-black-transparent form {
        padding: 30px;
    } 
}
@media (max-width:767px){
    #contact .bg-black-transparent form {
        padding: 30px;
    } 
}
@media (min-width: 576px){
    .section{
        padding:50px 0 !important;
    }
}
@media (max-width: 576px){
    section{
        padding:50px 0px;
    }
    .bg-schedule .about-content{
        padding: 0px 10px !important;
    }
    .icon-collection .about-icon {
        padding: 10px 10px !important;
    }
    .slider-area{
        height: 50vh;
    }
    .carousel-item img{
        height: 50vh;
    }
    .carousel-caption .sub-heading{
        display: none;
    }
    .banner-btn .btn {
        padding: 10px 15px !important;
    }
    .banner-btn ul li {
        padding-right: 0px;
    }
    .testimonials-content .testimonials-info {
        padding: 0px 10px;
    }
    #Counter {
        background-size: cover;    
    }
    footer .logo-sec .footer-logo {
        margin-bottom: 20px;
    }
    footer.gym h5 {
        padding-bottom: 0px;
    }
    footer .logo-sec .footer-para {
        margin-bottom: 20px;
    }
    .copyright-text{
        text-align: left;
    }
    footer {
        padding: 50px 0 20px 0;
    }
}