@media (min-width: 1470px){
    .gym .container{
        max-width: 1440px;
    }
    .agency .container{
        max-width: 1440px;
    }
}
@media only screen and (max-width: 1366px){
    section {
    padding: 70px 0;
}
}
@media (max-width: 991px){
.fixed-top{
    background: black;
}
.carousel-caption h1{
    margin-bottom: 30px;
}
}
@media (max-width:991px){
    .slider-area{
        height: auto;
    }
    .about-content{
        margin-top: 20px;
    }
    .navbar-toggler-icon i{
        padding-top: 8px;
        padding-left: 8px;
    }
    .carousel-item{
        top: 50px;
    }
    .carousel-item img{
        height: auto;
    }
    .carousel-caption .sub-heading p{
        padding: 0px 20px;
    }
    .carousel-caption{
        top:10%;
    }
    .carousel-caption .sub-heading {
        padding: 0 35px;
        margin-bottom: 25px;
    }
    .banner-btn .btn {
        padding: 10px 20px !important;
    }
    .gym .btn {
        padding: 12px 25px;
    }
    #contact .bg-black-transparent form {
        padding: 30px;
    } 
}
@media (max-width:767px){
    #contact .bg-black-transparent form {
        padding: 30px;
    }
    .carousel-caption .sub-heading{
        display: none;
    } 
}
@media (max-width: 576px){
    .section{
        padding:50px 0 !important;
    }
    #blogs {
        padding: 50px 0px !important;
    }
}
@media (max-width: 576px){
    section{
        padding:50px 0px;
    }
    .pl{
        padding-left: 0% !important;
    }
    .carousel-caption {
        text-align: center;
        top: 15%;
    }
    .bg-schedule .about-content{
        padding: 0px 10px !important;
    }
    .icon-collection .about-icon {
        padding: 10px 10px !important;
    }
    .slider-area{
        height: auto
    }
    .carousel-item img{
        height: auto;
    }
    .pricing .active{
        transform: scale(1);
    }
    .banner-btn .btn {
        padding: 10px 15px !important;
    }
    .banner-btn ul li {
        padding-right: 0px;
    }
    .testimonials-content .testimonials-info {
        padding: 0px 10px;
    }
    #Counter {
        background-size: cover;    
    }
    .blogs-section .blog-agency .blog-contain .image-container .blogs-info {
        padding: 15px;
    }
    footer .logo-sec .footer-logo {
        margin-bottom: 20px;
    }
    footer.gym h5 {
        padding-bottom: 20px;
    }
    footer .logo-sec .footer-para {
        margin-bottom: 20px;
    }
    .copyright-text{
        text-align: left;
    }
    footer {
        padding: 50px 0 20px 0;
    }
}